.App {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.253);
}

#display {
  width:100%;
  background: #333;
  height: 150px;
  color: #fff;
  text-align: right;
  line-height: 60px;
  padding: 0 10px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 10px;
  grid-auto-rows: minmax(80px, auto);
}

.is-clear {
  display: grid;
  padding: 0 10px 10px;
  
}
